/* content containers */
#header {
    display: flex;
    float: center;
    justify-content: center;
    height: 15vh;
}

#main {
    display: block;
    float: left;
    justify-content: center;
    height: 80vh;
    width: 60vw;
    margin: 5px;
}

#form-buttons {
    display: block;
    float: left;
    height: 80vh;
    width: 30vw;
    margin: 5px;
}

#footer {
    display: flex;
    float: center;
    width: 100vw;
}

body {
    background-color: rgba(196, 196, 38, 0.6);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(200, 0, 200, 0.8);
}
/* title */
h1 {
    font-size: 6vh;
    color: rgba(170, 0, 170, 0.7);
}
/* library table */
#library {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
}

/* row in library table */
.book {
    justify-content: center;
}

/* cells in library table */
td {
    text-align: center;
    font-size: 1.2vw;
}

th {
    font-weight: bold;
    font-size: 1.3vw;
}

.table-button {
    font-size: 1.2vw;
    background-color: rgba(223, 223, 41, 0.6);
    color: rgba(200, 0, 200, 0.8);
}
.title {
    width: 45%;
}

.author {
    width: 20%;
}

.genre {
    width: 10%;
}

.pages {
    width: 8%;
}

.read {
    width: 7%;
}

.delete {
    width: 10%;
}

/* Button to display library */
#showLibrary {
    display: inline;
}

/* Form to Add Book */
label {
    font-weight: bold;
    font-size: 1.5em;
}

input {
    width: 100%;
    background-color: rgba(223, 223, 41, 0.3);
}

button:hover {
    border: 2px solid black;
    font-weight: bold;
}

#addBook {
    display: none;
}

.main-buttons {
    width: 49%;
    height: 4vh;
    font-size: 1.5vw;
    background-color: darkviolet;
    color: white;
    border: 1px solid black;
}

#newBook {
    width: 100%;
}

#getForm {
    display: inline;
}